body { 
	background-color: #f2e8e9;
}
.menu {
	font-size: 15px;
	text-decoration: none;
	color: red;
	list-style-type: none;
}
.cat_pic_div {
	width: 80%;
	height: 550px;
	border-width: 1px;
	border-color: red;
	border-style: solid;
	text-align: 
}

.prod_pic_div {
	float: right;
	width: 550px;
	height: 300px;
	background-color: : blue;
	border-width: 1px;
	border-color: green;
	border-style: solid;	
}
footer {
	float: left;
}