html, body{
  margin: 0
}

div {
	outline: 1px grey dotted;
	background-color: lightpink;
}
.wrapper{
	width: 800px;
	margin: 0 auto;
    /*height: 100%;*/
    min-height: 100%;
    position: relative;
}
.buffer	{
	height: 100px;
}
.container {
	width: 800px;
    margin-top: 0
}
.header{
	height: 150px;
	background-color: orange;
	margin: 0;
}
.logo{
	margin-left: 30px;
	padding: 0;
	display: inline-block;
	float: left;
}
.menu{
	margin: 0;
	padding: 0;
	display: inline-block;
	float: right;
	background-color: green;
}
.menu-points{
	margin: 10px;
	padding: 10px;
	display: inline-block;
	float: left;
	font-weight: bold;
	font-size: 20px;
	background-color: yellow;
}
.content{
	/*height: 100%;*/
	background: lightblue;
	margin-bottom: -100px; 
	padding-bottom: 100px;
    padding-top: 0px;
    height: auto;
    min-height: 100%;
}
.footer{
	height: 100;
	background-color: lightgrey;
    position: absolute;
    width: 100%;
    margin-top: 0px;
}
img{
	height: 100%;
}
a:visited{
		color: slategrey;
}
a:link{
		color: firebrick;
}
h2 {
	margin-top: 0;
    margin-left: 30px;
}
a:hover {
		color:red;
}